.btn-group {
  margin-top: 1%;
  margin-bottom: 1%;
}

table {
  width: 100%;
}

.itens-table {
  background-color: red;

  .edit-icon {
    color: #1976d2;
  }

  .delete-icon {
    color: red;
  }

  .teste1 {
    width: 6%;
  }

}
