<div class="imovel-create-form">
  <mat-card class="mat-elevation-z3">
    <mat-card-title class="title">Editar Imóvel</mat-card-title>

    <form>

      <div class="row col-md-4-3">
        <mat-form-field class="mat-elevation-z1 input-date cep">
          <input [(ngModel)]="imovel.cep"
                 [maxLength]="9"
                 id="cep"
                 matInput
                 name="cep"
                 placeholder="Cep">
        </mat-form-field>

        <mat-form-field class="mat-elevation-z1 input-date logradouro">
          <input [(ngModel)]="imovel.logradouro" id="logradouro" matInput name="logradouro"
                 placeholder="Rua/Logradouro">
        </mat-form-field>

        <mat-form-field class="mat-elevation-z1 input-date numero">
          <input [(ngModel)]="imovel.numero" id="numero" matInput name="numero" placeholder="Número">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="mat-elevation-z1 input-date complemento">
          <input [(ngModel)]="imovel.complemento" id="complemento" matInput name="complemento"
                 placeholder="Complemento">
        </mat-form-field>
        <mat-form-field class="mat-elevation-z1 input-date bairro">
          <input [(ngModel)]="imovel.bairro" id="bairro" matInput name="bairro" placeholder="Bairro">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="mat-elevation-z1 input-date localidade">
          <input [(ngModel)]="imovel.localidade" id="localidade" matInput name="localidade" placeholder="Cidade">
        </mat-form-field>
        <mat-form-field class="mat-elevation-z1 input-date uf">
          <input [(ngModel)]="imovel.uf" id="uf" matInput name="uf" placeholder="UF">
        </mat-form-field>
        <mat-form-field class="mat-elevation-z1 input-date situacao">
          <input [(ngModel)]="imovel.situacao" id="situacao" matInput name="situacao" placeholder="Situação">
        </mat-form-field>
        <mat-form-field class="mat-elevation-z1 input-date valorAluguel">
          <input [(ngModel)]="imovel.valorAluguel"
                 [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                 currencyMask id="valorAluguel" matInput
                 name="valorAluguel" placeholder="Valor">
        </mat-form-field>
      </div>

    </form>

    <div class="btn-group">
      <button (click)="updateImovel()" class="btn btn-primary" mat-raised-button>Salvar</button>
      <button (click)="cancel()" class="btn btn-danger" mat-raised-button>Cancelar</button>
    </div>

  </mat-card>
</div>
